<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <h1>New Beginning</h1>
        <p class="intro">I am thrilled to announce that I am joining the company <span class="company">Blackcoffer</span> as a <span class="role">Data Scientist</span>!</p>

        <div class="details">
            <h2> Why Blackcoffer? </h2 >
                <ul>
                    <li>Blackcoffer is a leading global provider of AI-driven business solutions.</li>
                    <li>They focus on delivering data-driven insights to help businesses make informed decisions.</li>
                    <li>Their innovative approach aligns perfectly with my passion for data science and analytics.</li>
                </ul>
        </div>
        
        <div class="future">
            <h2> What I will be doing? </h2>
                <ul>
                    <li>As a Data Scientist, I will be working on developing predictive models and data analysis.</li>
                    <li>I will collaborate with cross-functional teams to drive data-driven strategies.</li>
                    <li>My role will involve leveraging machine learning techniques to solve complex business problems.</li>
                </ul>
        </div>
    </div>    
</body>
</html>